{% extends 'base.html' %}

{% block content %}
<div class="row g-4">
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card card-hover h-100">
      <div class="card-body text-center">
        <i class="bi bi-person-video2 fs-1 text-secondary"></i>
        <h5 class="card-title mt-2">Cast Reveal Game</h5>
        <p class="card-text">Guess the movie as cast members are revealed.</p>
        <a href="{{ url_for('main.cast_game_page') }}" class="btn btn-primary mt-2">Play</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card card-hover h-100">
      <div class="card-body text-center">
        <i class="bi bi-calendar-event fs-1 text-secondary"></i>
        <h5 class="card-title mt-2">Guess the Year</h5>
        <p class="card-text">How well do you know release dates?</p>
        <a href="{{ url_for('main.year_game_page') }}" class="btn btn-primary mt-2">Play</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card card-hover h-100">
      <div class="card-body text-center">
        <i class="bi bi-image fs-1 text-secondary"></i>
        <h5 class="card-title mt-2">Poster Reveal</h5>
        <p class="card-text">The image becomes clearer each round.</p>
        <a href="{{ url_for('main.poster_game_page') }}" class="btn btn-primary mt-2">Play</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
