{% extends 'base.html' %}

{% block content %}
<h1 class="mb-4">Welcome to Plex Trivia</h1>
<div class="row g-4">
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card card-hover h-100">
      <div class="card-body text-center">
        <h5 class="card-title">Cast Reveal Game</h5>
        <p class="card-text">Guess the movie as cast members are revealed.</p>
        <a href="{{ url_for('main.cast_game_page') }}" class="btn btn-primary mt-2">Play</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card card-hover h-100">
      <div class="card-body text-center">
        <h5 class="card-title">Guess the Year</h5>
        <p class="card-text">How well do you know release dates?</p>
        <a href="{{ url_for('main.year_game_page') }}" class="btn btn-primary mt-2">Play</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card card-hover h-100">
      <div class="card-body text-center">
        <h5 class="card-title">Poster Reveal</h5>
        <p class="card-text">The image becomes clearer each round.</p>
        <a href="{{ url_for('main.poster_game_page') }}" class="btn btn-primary mt-2">Play</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
